@import "reset.css";

.container {
  max-width: min(100% - 30px, 1080px);
  margin: 0 auto;
}

body {
  background-color: rgb(23 34 32);
  color: #fff;
}

.container p {
  font-size: 32px;
}

header {
  background-color: rgb(89, 0, 255);
  height: 60px;
  line-height: 60px;
}

h1 {
  font-size: 20px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

ul li {
  list-style: none;
  font-size: 15px;
}

ul {
  gap: 15px;
}

main {
  padding-top: 60px;
}

img {
  height: 60px;
}